<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <script type="text/javascript" src="../js/oseroBord.js"></script>
    <!-- 盤面 -->
    <table id="field"></table>
    <script type="text/javascript">
        // 緑色の盤面の作成
        ban_new()
        // 盤面をスタートの状態(=白黒2枚ずつの状態)にする
        ban_init()
        // クリックした所に石を置く
        click_func()
    </script>
    <!-- ターンの表示 -->
    <p id="view_tarn"></p>
    <!-- 初期化ボタン -->
    <button type="button" id="ban_init" onclick="ban_init()">やり直し</button>
</body>

</html>