<html>

<head>
    <!-- 外部ファイル読込 -->
    <script type="text/javascript" src="js/oseroBord.js"></script>

    <!-- HTML内埋め込み -->
    <script type="text/javascript">
        // テスト関数１
        function test1(str) {
            alert(str);
        }
    </script>
</head>

<body>
    <form name="frm" method="get" action="result.html">
        <!-- HTML内のJavaScript関数呼出 -->
        <input type="button" onclick="test1('aa');" value="ボタン１" />

        <!-- 外部ファイル内のJavaScript関数呼出 -->
        <input type="button" onclick="test2('bb');" value="ボタン２" />
    </form>
</body>

</html>