<html>

<head>
    <!-- <script type="text/javascript" src="../js/oseroBord.js"></script> -->
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <script type="text/javascript" src="../js/oseroBord.js"></script>
    <!-- 盤面 -->
    <table id="field"></table>
    <script type="text/javascript">
        // 盤面の作成
        ban_new()
        // 盤面を初期化する
        // ban_init()
    </script>
    <!-- ターンの表示 -->
    <p id="view_tarn"></p>
    <!-- 初期化ボタン -->
    <button type="button" id="ban_init" onclick="ban_init()">やり直し</button>
</body>

</html>