/* 盤面の色とマスの形を指定 */
#field td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: green;
  text-align: center;
  vertical-align: middle;
  table-layout: fixed;
  padding: 1px 1px 1px 1px;
  font-size: 33px;
}

#displayTurn {
  font-size: 24px;
  padding: 10px;
  border-left:5px solid #00ada9;

}

#displayWinner {
  font-size: 24px;
}

button {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #00ada9;
  border: solid 2px #00ada9;
  border-radius: 3px;
  transition: .4s;
}
button:hover {
  background: #00ada9;
  color: white;
}

.whiteStone {
  color: white;
}

.blackStone {
  color: black;
}
