/* 盤面の色とマスの形を指定 */
#field td {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: green;
  text-align: center;
  vertical-align: middle;
  table-layout: fixed;
  padding: 1px 1px 1px 1px;
  font-size: 33px;
}

.whiteStone {
  color: white;
}

.blackStone {
  color: black;
}
